* {
    padding: 0;
    margin: 0;
    border: 0;
}
/* NAVBAR */
.navbar ul{
    list-style: none;
    background: rgb(223, 147, 147);
    padding: 0;
    margin: 0;

}
.navbar li {
    display: inline-block;
}
.navbar a {
    text-decoration: none;
    color:#000000;
    width: 100px;
    display: block;
    padding: 15px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Lucida Console";
    text-align: center;
    font-weight: bold;
}
.navbar a:hover{
    background:  rgb(231, 200, 116);
}
/* PAGE */
.container{
    width: 100%;
    min-height: 100vh;
    padding: 250px 0px;
    background-color: #a81616d0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Search Bar Format */
.SUPER-SEARCH-BAR{ 
    width: 100%;
    max-width: 700px;
    background: rgba(247, 246, 246, 0.281);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
/* Search Image Icon */
.img-size {
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto ;
    background: rgba(253, 117, 117, 0);
}
/* Text without input inside search bar */
::placeholder{
    color: rgba(0, 0, 0, 0.719);
    font-size: 120%;
    font-weight: Bold;
    font-family: "Lucida Console";
    
}
/* The text input that will be searched */
.SUPER-SEARCH-BAR input{
    background: transparent;
    color: rgba(0, 0, 0, 0.719);
    flex: 1;
    outline: rgb(255, 255, 255);
    font-size: 140%;
    font-weight: Bold;
    font-family: "Lucida Console";
}